body {
    background-image: url("../../Image/HD_wall2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    /* height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

.container{
display: flex;
flex-direction: column;
margin: auto;
margin-top: 200px;
background: #c8cbcc;
padding-bottom: 30px;
width: 600px;
border-radius: 13px;
}


.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}


.text{
    color: #414040;
    font-size: 48px;
    font-weight: 700;
}


.underline{
    width: 70px;
    height: 6px;
    background: #414040;
    border-radius: 9px;
}


.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 9px;
}


.input img{
margin: 0px 30px
}


.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}


.submit-container{
    display: flex;
    gap: 30px;
    margin: 20px auto;
}


.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #333;
    background: #bbb;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}


.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}


.forgot-password span{
    color: #333;
    cursor: pointer;

}


.submit-main-container{
    display: flex;
    margin: 10px auto;
}


.gray{
    background: #eaeaea;
    color: #676767;
}


.submit-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #bbb;
    background: #333;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}