
body {
  background-color: white; /* Set background color to white */
  margin: 0; /* Optional: Remove default margin */
  font-family: Arial, sans-serif; /* Optional: Set a default font */
}
.white-background {
  background-color: white;
   
}
/* 
.container {

    background-color: #f4f4f4;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .mainContent {
    flex: 1;
    padding: 20px;
    background-color: #fff;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .gridItem {
    background-color: #e3e3e3;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   */